//colors
$off-pink: #e2c2dd;
$off-blue: #004974;
$background: #89a7b6;
$dark-background: #253b46;
$dark-bground: #396175;
$purple: #741c8af8;
$off-light: #98defff8; 
$off-red: #500101;
$off-error: #ffe1a1;

//spacing
$xs-size: 0.5rem;
$s-size: 1.4rem;
$m-size: 2.2rem;
$l-size: 3.8rem;
$xl-size: 4.0rem;
